<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>Search for Shows</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>

	<script src="js/app.js"></script>
	<script src="js/tvshow/tvshow.controller.js"></script>
	<script src="js/tvshow/tvshow.service.js"></script>
	<script src="js/show/show.controller.js"></script>
	<script src="js/show/show.service.js"></script>

</head>
<body ng-app="app">
<div class="container">
	<nav class="navbar navbar-inverse nav-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Search for Shows</a>
		</div>
	</nav>
	<div ng-view></div>
</div>
</body>
</html>
